<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<div class ="container">
    <table class = 'table  table-dark table-striped table-hover' align ='center'>
        <thead>
            <tr class = "bg-danger bg-info text-black ">
                 <th>
                    empId
                </th>
                 <th>
                    empName
                </th>
                <th>
                     salary
                </th>
                <th>
                    gender
                </th>
                <th>
                    doj
                </th>
                <th>
                     loginId
                </th>
                <th>
                    paswword
                </th>
                <th>
                    experience
                </th>
                <th>
                    edit
                </th>
                <th>
                    delete
                </th>
             </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let employee of employees'>
                <td>
                    {{ employee.employeeId }}
                </td>
                <td>
                    {{ employee.employeeName | gender : employee.gender }}
                </td>
                <td>
                    {{ employee.salary | currency:'USD' }}
                </td>
                <td>
                    {{ employee.gender }}
                </td>
                <td>
                    {{ employee.doj | date:'dd-MMMM-yyyy'}}
                </td>
                <td>
                    {{ employee.UserName }}
                </td>
                <td>
                    {{ employee.password }}
                </td>
                <td>
                    {{ employee.doj | experience}}
                </td>
                <td>
                    <a href=""><div class = "glyphicon glyphicon-pencil"></div></a>
                </td>
                <td>
                    <a href=""><div class = "glyphicon glyphicon-trash"></div></a>
                </td>

            </tr>
        </tbody>

    </table>
</div>