<head>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<div class="container">

    <div align="center">
        <input type="text" [(ngModel)]="empId" placeholder="Enter Employee ID to Display">
        <button class="btn btn-primary" (click)="getEmpById()">Show Details</button>
    </div> <br/><br/>

<div *ngIf=employee>
<table class="table table-bordered table-striped table-hover table-sm">
    <thead>
        <tr class="bg-info text-white">
            <td>ID</td>
            <td>Name</td>
            <td>Salary</td>
            <td>Gender</td>
            <td>Join Date</td>
            <td>LoginId</td>
            <td>Password</td>
            <td>Experience</td>
        </tr>
    </thead>
    <tbody>
        <tr align="center">
            <td>{{employee.employeeId}}</td>
            <td>{{employee.employeeName |uppercase |gender: employee.gender}}</td>
            <td>{{employee.salary | currency: 'INR'}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.doj |date:'dd-MMMM-yy'}}</td>
            <td>{{employee.loginId | lowercase}}</td>
            <td>{{employee.password}}</td>
            <td>{{employee.doj | experience}}</td> 
        </tr>
    </tbody>
    </table>
</div>
</div>

