<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-test></app-test>
<app-login></app-login> -->

<!--
    <app-login></app-login>
     <app-showemp></app-showemp>
     <app-register></app-register>
     <app-showemp></app-showemp>
     <app-product></app-product>
     -->
   
     <app-header></app-header>
     <marquee><h1> hello peeps !! </h1></marquee> <br>
     <router-outlet></router-outlet>